/*
 * A simple set of extensions
 * Made by JP Casabianca
*/
@import "mixins";
@import "variables";

%button {
  display: inline-block;
  padding: 12px 35px;
  border: none;
  font-family: $gotham-rounded-medium;
  font-weight: normal;
  cursor: pointer;
  @include border-radius($border-radius);
  @include transition(all 0.3s ease-in-out);
  &:focus {
    outline: none;
  }
  i {
    display: inline-block;
    margin-right: 8px;
  }
}

%button-red {
  background-color: $color-red;
  color: #fff;
}

%button-white {
  background-color: #fff;
  color: $color-red;
  &:hover {
    @extend %button-red;
  }
}

%img-circle {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  @include border-radius(50%);
  overflow: hidden;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}
