/*
 * Variable Set for the Project
 * Made by JP Casabianca
*/

/*
  FONTS
*/
$gotham-rounded-book: 'Gotham Rounded Book', helvetica, sans-serif;
$gotham-rounded-light: 'Gotham Rounded Light', helvetica, sans-serif;
$gotham-rounded-medium: 'Gotham Rounded Medium', helvetica, sans-serif;

/*
  HEADERS
*/
$header-background: #fff;
$margin-top-main-content: 75px;
$margin-top-main-content-desktop: 3px;

/*
  COLORS
*/
$color-white: #fff;
$color-gray-light: #f6f7fb;
$color-gray: #e4e5ea;
$color-red: #ef3f42;
$color-red-dark: #931d23;
$color-font-gray: #999999;
$color-font-gray-heavy: #7c7c7c;
$color-font-gray-dark: #1a1a1a;

/*
  GLOBALS STYLES
*/
$border-radius: 10px;
$sidebar-width: 300px;
